.theme{
    --Primary-color:#A7423E;
    --Secondary-color: #233342;
    --button-color:#A7423E;
    --button-hover-color: #233342;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}